div.panel(data-bind= "template: { name: 'panelTemplate', data: panel }")
div.splitter
div#presenter.presenter
  div.frame
  div.slide
    div.slideContent(data-bind= "afterRender: resizeSlide()") 
script
  presenter.onready(function () {
    var file = '#{file}';
    var data = '#{data}';
    new presenter.viewmodels.Presenter(file, data);
  });
