!!! 5
html
  head
    link(rel= 'stylesheet', href= '/styles/default.css')
    link(rel= 'stylesheet', href= '/styles/vendor/highlight.min.css')
  body
    != body
    script(src= '/scripts/presenter.js')
