html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  font-family: Georgia;
  font-size: 100%;
}
code, textarea {
  font-family: mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.presenter {
  background: #edece9;
  overflow: hidden;
  position: relative;
}
.frame {
  border: 1px solid #c6c4c3;
  background: #fff;
  position: absolute;
  -webkit-box-shadow: 0 0 15px #ccc;
  -moz-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px #ccc;
}
.slide {
  background: #fff;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}
#panel {
  background: #f8f8f8;
  border-right: 1px solid #c6c4c3;
  position: absolute;
}
#panel .header {
  border-bottom: 1px solid #eee;
} 
#panel ul {
  left: 10px; 
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#panel li {
  float: left;
  position: relative;
  top: 1px;
}
#panel li a {
  border: 1px solid transparent;
  border-bottom-width: 0;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  -moz-border-radius-topleft: 4px 4px;
  -moz-border-radius-topright: 4px 4px;
  color: #4cab00;
  display: block;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 0.8em;
  padding: 3px 10px 2px 10px;
  line-height: 2em;
  text-decoration: none;
}
#panel li a:hover {
  background: #eee;
  border-color: #eee;
}
#panel li a.active {
  background: #fff;
  border-color: #eee;
  color: #000;
  font-weight: bold;
}
#list {
  background: #fff;
}
#list .toolbar {
  background: #fff;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 0.8em;
  padding: 1em;
}
#list .toolbar a {
  color: #777;
  text-decoration: none;
}
#list .toolbar a:hover {
  color: #000;
  text-decoration: underline;
}
#list #addSlide {
  background: url(../images/add.png) no-repeat;
  padding-left: 20px;
}
#list .entries {
  overflow-x: hidden;
}
#list .presenter {
  background: #fff;
}
#list .presenter:hover {
  background: #e5f2ed;
}
#list .active {
  background: #f5f5f5;
}
#list .frame {
  border: 1px solid #d6d4d3;
  -webkit-box-shadow: 0 0 15px #eee;
  -moz-box-shadow: 0 0 15px #eee;
  box-shadow: 0 0 15px #eee;
}
#list .active .frame {
  border: 1px solid #d6d4d3;
  -webkit-box-shadow: 0 0 15px #ddd;
  -moz-box-shadow: 0 0 15px #ddd;
  box-shadow: 0 0 15px #ddd;
}
#editor {
  background: #fff;
  position: relative;
}
#editor textarea {
  position: relative;
}
