html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
body {
  font-family: Georgia;
  font-size: 100%;
}
code {
  font-family: mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 1.1em;
}
#sidebar {
  background: #fff;
  border-right: 4px solid #ccc;
  height: 100%;
  position: absolute;
}
#editor {
  border: 0;
  font-family: mono, Monaco, Consolas, "Lucida Console", "Courier New";
  font-size: 0.8em;
  position: relative;
}
#presenter {
  background: #aaa;
  height: 100%;
  position: absolute;
}
#shadow {
  border: 1px solid transparent;
  position: absolute;
}
#slide {
  background: #fff;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
#content {
  padding: 2em;
}
